::-webkit-input-placeholder, select {
   color: #2a2a2a;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   opacity:.9;
}

:-moz-placeholder, select { /* Firefox 18- */
   color: #2a2a2a;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   opacity:.9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2a2a2a;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   opacity:.9; 
}

:-ms-input-placeholder {  
   color: #2a2a2a; 
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   opacity:.9; 
}

input {
	display:block;
	width:100%;
	padding:5px; 
	margin: 5px auto;
	height:36px;
	opacity: .9;
}

.half {
	width:49.2%;
}

.two_thirds {
	width:69%;
}

.one_third {
	width:29.4%;
}

input:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  	padding: 3px 0px 3px 3px;
  	margin: 5px 1px 3px 0px;
  	border: 1px solid rgba(81, 203, 238, 1);
}

.small_container p {
	font-size: .8em;
	margin-bottom:25px; 
}

h2 {
	font-size: 1em;
}

.inline {
	display: inline-block;
}

.small_icon_div {
	margin-bottom: -25px; 
}

.block {
	display: block;
}

form {
	display: block;
	margin: 0px auto;
	text-align: center;
	width:100%;
	max-width:350px;
}

.submit_button {
	background:none;
	background-color:#dddddd;
	-webkit-appearance: none;
	outline:none;
	text-decoration: none;
	border: none;
	font-weight: 600;
	cursor: pointer;

}

.center {
	width:100%;
	height:100%;
	text-align: center;
}

.small_icon {
	display: inline-block;
	margin: 0 auto;
	width:40px;
	height:21.8px;
	margin:20px 10px;
}

.camera_icon {
	height:26px;
}

.opacity {
	opacity: .4;
}

.error p {
	color:#990000;
}




